<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Potholes NI</title>
</head>
<body style="background: burlywood">
<h1 style="text-align: center">Potholes NI</h1>

{% block content %}

{% endblock %}

<footer style="text-align: center">
    <p>Data source <a href="https://www.opendatani.gov.uk/dataset/surface-defects">OpenDataNI</a></p>
    <a href="/docs" style="border: black">API Docs</a>
</footer>

</body>

</html>